<!-- <section class="tw-bg-white">
  <h2 class="tw-font-manrope tw-text-5xl tw-text-center tw-font-bold tw-text-primary-darkest tw-pt-12"> Sobre nosotros </h2>
  <div class="tw-container tw-mx-auto tw-py-12">
    <div class="tw-relative tw-p-4 tw-pb-12">
      <div class="lg:tw-grid lg:tw-grid-flow-row-dense lg:tw-grid-cols-2 lg:tw-gap-12 lg:tw-items-center lg:tw-justify-center">
        <div class="lg:tw-col-start-2">
          <h4 class="tw-text-4xl tw-font-extrabold tw-tracking-tight tw-text-gray-900">
            Alex Sanchez
          </h4>
          <div class="tw-mt-10 tw-leading-10">
            <p class="tw-pb-2">¡Hola! Soy Alex, un apasionado de la salud y el deporte. Tengo 31 años y soy graduado en Nutrición y Dietética.</p>
            <p class="tw-pb-2">Desde muy joven, el deporte ha sido una parte fundamental de mi vida. He practicado todo tipo de disciplinas, desde fútbol flag y fútbol americano, hasta fútbol, pádel, tenis y musculación. Actualmente, me considero un atleta híbrido, con un enfoque especial en el crossfit.</p>
            <p class="tw-pb-2">Me caracterizo por ser una persona alegre y entusiasta en todo lo que hago. La nutrición y la salud son mis grandes pasiones, y me dedico con energía a ayudar a mis clientes a alcanzar sus objetivos. Estoy convencido de que, trabajando juntos, podemos lograr todo lo que nos propongamos.</p>
            <p class="tw-pb-2">Mi misión es acompañarte en este camino hacia un estilo de vida más saludable, brindándote las herramientas y el apoyo que necesitas para transformar tu vida.</p>
            <p class="tw-pb-2">¡Estoy aquí para ayudarte a dar el siguiente paso hacia tu mejor versión!</p>
          </div>
        </div>
        <div class="tw-relative tw-mt-10 tw--mx-4 md:tw--mx-12 lg:tw-mt-0 lg:tw-col-start-1 tw-px-4 sm:tw-px-0">
          <img src="https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e" class="tw-h-[600px] tw-w-auto tw-mx-auto tw-rounded tw-shadow-lg tw-object-cover"/>
        </div>
      </div>
    </div>
    <div class="tw-relative tw-p-4">
      <div class="lg:tw-grid lg:tw-grid-flow-row-dense lg:tw-grid-cols-2 lg:tw-gap-12 lg:tw-items-center lg:tw-justify-center">
        <div class="lg:tw-col-start-1">
          <h4 class="tw-text-4xl tw-font-extrabold tw-tracking-tight tw-text-gray-900">
            Christian Gonzalez
          </h4>
          <div class="tw-mt-10 tw-leading-10">
            <p class="tw-pb-2">¡Hola! Soy Christian, y el texto me lo he copiado del Alex.</p>
            <p class="tw-pb-2">Para todos los tiktokers que queriáis saber, si, soy mossos,</p>
            <p class="tw-pb-2">Me caracterizo por ser una persona alegre y entusiasta en todo lo que hago. La nutrición y la salud son mis grandes pasiones, y me dedico con energía a ayudar a mis clientes a alcanzar sus objetivos. Estoy convencido de que, trabajando juntos, podemos lograr todo lo que nos propongamos.</p>
            <p class="tw-pb-2">Mi misión es acompañarte en este camino hacia un estilo de vida más saludable, brindándote las herramientas y el apoyo que necesitas para transformar tu vida.</p>
            <p class="tw-pb-2">¡Estoy aquí para ayudarte a dar el siguiente paso hacia tu mejor versión!</p>
          </div>
        </div>
        <div class="tw-relative tw-mt-10 tw--mx-4 md:tw--mx-12 lg:tw-mt-0 lg:tw-col-start-2 tw-px-4 sm:tw-px-0">
          <img src="https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e" class="tw-h-[600px] tw-w-auto tw-mx-auto tw-rounded tw-shadow-lg tw-object-cover"/>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
  <h2 class="tw-font-manrope tw-text-5xl tw-text-center tw-font-bold tw-text-gray-900 tw-mb-8"> Sobre nosotros </h2>

  <!-- First block -->
  <div class="tw-mx-auto tw-max-w-screen-2xl tw-px-4 tw-py-8 sm:tw-px-6 lg:tw-px-8">
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2">

      <div class="tw-relative tw-z-10 tw-order-1 lg:tw-order-none lg:tw-py-16">
        <div class="tw-relative tw-h-96 lg:tw-h-[46rem]">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e"
            class="tw-inset-0 tw-h-full tw-w-full tw-object-cover tw-object-top"
          />
        </div>
      </div>

      <div class="tw-relative tw-flex tw-items-center tw-bg-gray-light tw-order-2 lg:tw-order-none">
        <div class="tw-p-8 sm:tw-p-16 lg:tw-p-16">
          <h2 class="tw-text-2xl tw-font-bold sm:tw-text-3xl">
            Alex Sanchez
          </h2>

          <p class="tw-mt-4 tw-text-gray-600 tw-leading-10">
            ¡Hola! Soy Alex, un apasionado de la salud y el deporte. Tengo 31 años y soy graduado en Nutrición y Dietética. <br>
            Desde muy joven, el deporte ha sido una parte fundamental de mi vida. He practicado todo tipo de disciplinas, desde fútbol flag y fútbol americano, hasta fútbol, pádel, tenis y musculación. Actualmente, me considero un atleta híbrido, con un enfoque especial en el crossfit. <br>
            Me caracterizo por ser una persona alegre y entusiasta en todo lo que hago. La nutrición y la salud son mis grandes pasiones, y me dedico con energía a ayudar a mis clientes a alcanzar sus objetivos. Estoy convencido de que, trabajando juntos, podemos lograr todo lo que nos propongamos. <br>
            Mi misión es acompañarte en este camino hacia un estilo de vida más saludable, brindándote las herramientas y el apoyo que necesitas para transformar tu vida. <br>
            ¡Estoy aquí para ayudarte a dar el siguiente paso hacia tu mejor versión! <br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Block -->
  <div class="tw-mx-auto tw-max-w-screen-2xl tw-px-4 tw-py-8 sm:tw-px-6 lg:tw-px-8">
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2">

      <div class="tw-relative tw-z-10 tw-order-1 lg:tw-order-2 lg:tw-py-16">
        <div class="tw-relative tw-h-96 lg:tw-h-[46rem]">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e"
            class="tw-inset-0 tw-h-full tw-w-full tw-object-cover tw-object-top"
          />
        </div>
      </div>

      <div class="tw-relative tw-flex tw-items-center tw-bg-gray-light tw-order-2 lg:tw-order-1">
        <div class="tw-p-8 sm:tw-p-16 lg:tw-p-16">
          <h2 class="tw-text-2xl tw-font-bold sm:tw-text-3xl">
            Christian el lento
          </h2>

          <p class="tw-mt-4 tw-text-gray-600 tw-leading-10">
            ¡Hola! Soy Alex, un apasionado de la salud y el deporte. Tengo 31 años y soy graduado en Nutrición y Dietética. <br>
            Desde muy joven, el deporte ha sido una parte fundamental de mi vida. He practicado todo tipo de disciplinas, desde fútbol flag y fútbol americano, hasta fútbol, pádel, tenis y musculación. Actualmente, me considero un atleta híbrido, con un enfoque especial en el crossfit. <br>
            Me caracterizo por ser una persona alegre y entusiasta en todo lo que hago. La nutrición y la salud son mis grandes pasiones, y me dedico con energía a ayudar a mis clientes a alcanzar sus objetivos. Estoy convencido de que, trabajando juntos, podemos lograr todo lo que nos propongamos. <br>
            Mi misión es acompañarte en este camino hacia un estilo de vida más saludable, brindándote las herramientas y el apoyo que necesitas para transformar tu vida. <br>
            ¡Estoy aquí para ayudarte a dar el siguiente paso hacia tu mejor versión! <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
