<footer class="tw-bg-white">
  <div class="tw-mx-auto tw-max-w-screen-xl tw-px-4 tw-py-16 sm:tw-px-6 lg:tw-px-8">
    <div class="lg:tw-flex lg:tw-justify-between lg:tw-gap-8">

      <div class="tw-w-full tw-col-span-2 sm:tw-col-span-1 lg:tw-w-auto tw-text-center lg:tw-text-left tw-mb-8 sm:tw-mb-0 ">
        <p class="tw-font-medium tw-text-gray-900">LSN</p>

        <ul class="tw-mt-2 sm:tw-mt-6 tw-space-y-4 tw-text-sm">
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Inicio</a>
          </li>
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Sobre Nosotros</a>
          </li>
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Planes</a>
          </li>
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">FAQ's</a>
          </li>
        </ul>
      </div>

      <div class="tw-w-full tw-col-span-2 sm:tw-col-span-1 lg:tw-w-auto tw-text-center lg:tw-text-left tw-mb-8 sm:tw-mb-0 ">
        <p class="tw-font-medium tw-text-gray-900">Enlaces</p>

        <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Terminos & Condiciones</a>
          </li>
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Política de Privacidad</a>
          </li>
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">Cookies</a>
          </li>
        </ul>
      </div>

      <div class="tw-w-full tw-col-span-2 sm:tw-col-span-1 lg:tw-w-auto tw-text-center lg:tw-text-left tw-mb-8 sm:tw-mb-0 ">
        <p class="tw-font-medium tw-text-gray-900">Contacto</p>

        <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">contacto&#64;lsnplan.es</a>
          </li>

          <li>
            <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75">+34 600 123 456</a>
          </li>
        </ul>
      </div>

      <div class="tw-w-full tw-col-span-2 sm:tw-col-span-1 lg:tw-w-auto tw-text-center lg:tw-text-left tw-mb-8 sm:tw-mb-0 ">
        <p class="tw-font-medium tw-text-gray-900">Social</p>

        <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
          <li>
            <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
            >
              <fa-icon [icon]="['fab', 'instagram']" class="tw-pr-5 tw-size-12"></fa-icon>Instagram
            </a>
          </li>

          <li>
            <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
            >
              <span class="tw-sr-only">Youtube</span>

              <fa-icon [icon]="['fab', 'youtube']" class="tw-pr-5 tw-size-12"></fa-icon>Youtube
            </a>
          </li>
          <li>
            <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
            >
              <span class="tw-sr-only">Tiktok</span>

              <fa-icon [icon]="['fab', 'tiktok']" class="tw-pr-5 tw-size-12"></fa-icon>Tiktok
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tw-mt-8 tw-border-t tw-border-gray-light tw-pt-8">
      <div class="tw-flex tw-flex-col tw-items-center sm:tw-flex-row sm:tw-justify-between tw-text-center sm:tw-text-left">
        <p class="tw-text-xs tw-text-gray-500">&copy; {{currentYear}}. Life Style Nutrition. All rights reserved.</p>
        <p class="tw-text-xs tw-text-gray-500">Powered by ZeronCode</p>
      </div>
    </div>
  </div>
</footer>

<!-- ALT 2 -->
<!-- <footer class="tw-bg-white">
  <div class="tw-mx-auto tw-max-w-screen-xl tw-px-4 tw-py-16 sm:tw-px-6 lg:tw-px-8">
    <div class="lg:tw-flex lg:tw-items-start lg:tw-gap-8">
      <div class="tw-mt-8 tw-grid tw-grid-cols-2 tw-gap-8 lg:tw-mt-0 lg:tw-grid-cols-4 lg:tw-gap-y-16">
        <div class="tw-col-span-2">
          <div>
            <h2 class="tw-text-2xl tw-font-bold tw-text-gray-900">Suscríbete a nuestra newsletter!</h2>

            <p class="tw-mt-4 tw-text-gray-500">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam
              molestias.
            </p>
          </div>
        </div>

        <div class="tw-col-span-2 lg:tw-col-span-2 lg:tw-flex lg:tw-items-end">
          <form class="tw-w-full">
            <label for="UserEmail" class="tw-sr-only"> Email </label>

            <div
              class="tw-border tw-border-gray tw-p-2 focus-within:tw-ring sm:tw-flex sm:tw-items-center sm:tw-gap-4"
            >
              <input
                type="email"
                id="UserEmail"
                placeholder="john@rhcp.com"
                class="tw-w-full tw-border-none focus:tw-border-transparent focus:tw-ring-transparent sm:tw-text-sm"
              />

              <button
                class="tw-mt-1 tw-w-full tw-bg-primary tw-px-6 tw-py-3 tw-text-sm tw-font-bold tw-uppercase tw-tracking-wide tw-text-white tw-transition-none hover:tw-bg-primary-lightest sm:tw-mt-0 sm:tw-w-auto sm:tw-shrink-0"
              >
                Suscríbete
              </button>
            </div>
          </form>
        </div>

        <div class="tw-col-span-2 sm:tw-col-span-1">
          <p class="tw-font-medium tw-text-gray-900">Services</p>

          <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> 1on1 Coaching </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> Company Review </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> Accounts Review </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> HR Consulting </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> SEO Optimisation </a>
            </li>
          </ul>
        </div>

        <div class="tw-col-span-2 sm:tw-col-span-1">
          <p class="tw-font-medium tw-text-gray-900">LSN</p>

          <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> Inicio </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> Sobre Nosotros </a>
            </li>
          </ul>
        </div>

        <div class="tw-col-span-2 sm:tw-col-span-1">
          <p class="tw-font-medium tw-text-gray-900">Enlaces</p>

          <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> Planes </a>
            </li>
            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> FAQ's </a>
            </li>
          </ul>
        </div>

        <div class="tw-col-span-2 sm:tw-col-span-1">
          <p class="tw-font-medium tw-text-gray-900">Contacto</p>

          <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> contacto&#64;lsnplan.es </a>
            </li>

            <li>
              <a href="#" class="tw-text-gray-700 tw-transition hover:tw-opacity-75"> +34 600 123 456 </a>
            </li>
          </ul>
        </div>

        <div class="tw-col-span-2 sm:tw-col-span-1">
          <p class="tw-font-medium tw-text-gray-900">Social</p>

          <ul class="tw-mt-6 tw-space-y-4 tw-text-sm">
            <li>
              <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
            >
              <fa-icon [icon]="['fab', 'instagram']" class="tw-pr-5 tw-size-12"></fa-icon>Instagram
            </a>
            </li>

            <li>
              <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
              >
                <span class="tw-sr-only">Youtube</span>

                <fa-icon [icon]="['fab', 'youtube']" class="tw-pr-5 tw-size-12"></fa-icon>Youtube
              </a>
            </li>
            <li>
              <a
              href="#"
              rel="noreferrer"
              target="_blank"
              class="tw-text-gray-700 tw-transition hover:tw-opacity-75"
              >
                <span class="tw-sr-only">Tiktok</span>

                <fa-icon [icon]="['fab', 'tiktok']" class="tw-pr-5 tw-size-12"></fa-icon>Youtube
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tw-mt-8 tw-border-t tw-border-gray tw-pt-8">
      <div class="sm:tw-flex sm:tw-justify-between">
        <p class="tw-text-xs tw-text-gray-500">&copy; {{currentYear}}. Life Style Nutrition. All rights reserved. | Powered by ZeronCode</p>

        <ul class="tw-mt-8 tw-flex tw-flex-wrap tw-justify-start tw-gap-4 tw-text-xs sm:tw-mt-0 lg:tw-justify-end">
          <li>
            <a href="#" class="tw-text-gray-500 tw-transition hover:tw-opacity-75"> Terminos & Condiciciones </a>
          </li>

          <li>
            <a href="#" class="tw-text-gray-500 tw-transition hover:tw-opacity-75"> Politica de Privacidad </a>
          </li>

          <li>
            <a href="#" class="tw-text-gray-500 tw-transition hover:tw-opacity-75"> Cookies </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
