<section class="tw-flex tw-items-center tw-justify-center tw-h-screen sm:tw-h-[85vh] tw-bg-cover tw-bg-center tw-bg-no-repeat" style="background-image: url('https://img.freepik.com/foto-gratis/vista-angulo-hombre-musculoso-irreconocible-preparandose-levantar-barra-club-salud_637285-2497.jpg?t=st=1723211391~exp=1723214991~hmac=d67dfe38beabec9bef4c691d604047c6b0df4e912e23136d02bff22c6bc8bef5&w=2000');">
  <div class="tw-text-center tw-text-white tw-p-4 sm:tw-p-8 tw-max-w-2xl tw-mx-auto">
      <h1 class="tw-text-[2.75rem] tw-leading-[1.2] sm:tw-text-6xl tw-font-bold tw-mb-4">Adopta un nuevo estilo de vida aprendiendo a comer y disfrutando del ejercicio</h1>
      <h2 class="tw-text-2xl sm:tw-text-4xl">¡Empieza el cambio que tu salud necesita hoy mismo!</h2>
      <div class="tw-mt-8">
          <a class="tw-inline-block tw-rounded-full tw-border tw-border-indigo-600 tw-bg-indigo-600 tw-px-12 tw-py-3 tw-text-sm tw-font-medium tw-text-white hover:tw-bg-transparent hover:tw-text-indigo-600 focus:tw-outline-none focus:tw-ring active:tw-text-indigo-500" href="#">Únete al equipo</a>
      </div>
  </div>
</section>
