<section class="tw-flex tw-items-center tw-justify-center tw-h-screen sm:tw-h-[85vh] tw-bg-cover tw-bg-center tw-bg-no-repeat" style="background-image: url('https://img.freepik.com/foto-gratis/vista-angulo-hombre-musculoso-irreconocible-preparandose-levantar-barra-club-salud_637285-2497.jpg?t=st=1723211391~exp=1723214991~hmac=d67dfe38beabec9bef4c691d604047c6b0df4e912e23136d02bff22c6bc8bef5&w=2000');">
  <div class="tw-text-center tw-text-white tw-p-4 sm:tw-p-8 tw-max-w-7xl tw-mx-auto">
      <h1 class="tw-text-[2.75rem] tw-leading-[1.2] sm:tw-text-6xl tw-font-bold tw-mb-4 tw-uppercase">Adopta un nuevo estilo de vida</h1>
      <h2 class="tw-text-2xl sm:tw-text-4xl">Aprende a comer y disfruta del ejericio</h2>
      <div class="tw-mt-8">
        <a class="tw-inline-block tw-rounded-full tw-border tw-border-primary tw-bg-primary tw-px-12 tw-py-3 tw-text-sm tw-font-medium tw-text-white hover:tw-bg-primary-lightest hover:tw-border-primary-lightest hover:tw-text-white focus:tw-outline-none focus:tw-ring
            sm:tw-px-16 sm:tw-py-4 sm:tw-text-base
            md:tw-px-20 md:tw-py-5 md:tw-text-lg
            lg:tw-px-24 lg:tw-py-6 lg:tw-text-xl"
          href="#">
            Únete al equipo
        </a>
      </div>
  </div>
</section>
