<section class="tw-py-24">
  <div class="tw-mx-auto tw-max-w-7xl tw-px-4 sm:tw-px-6 lg:tw-px-8">
    <div class="tw-mb-12 tw-text-center">
      <h2 class="tw-font-manrope tw-text-4xl tw-text-center tw-font-bold tw-text-gray-900 tw-mb-12">
        Encuentra el plan perfecto para ti
      </h2>
      <!--Switch-->
      <div class="tw-tabs">
        <div
          class="tw-flex tw-justify-center tw-items-center tw-bg-gray-100 tw-rounded-full tw-p-1.5 tw-max-w-sm tw-mx-auto"
        >
          <a
            href="javascript:void(0)"
            [ngClass]="activeTab === 'monthly' ? 'tw-bg-indigo-600 tw-text-white' : 'tw-text-gray-400 hover:tw-text-indigo-600'"
            class="tw-inline-block tw-w-1/2 tw-transition-all tw-duration-500 tw-rounded-full tw-font-semibold tw-py-3 tw-px-3 lg:tw-px-11 tw-tablink"
            data-tab="tabs-with-background-1"
            role="tab"
            id="yearly-billing"
            (click)="changeTab('monthly')"
          >
            Mensual
          </a>
          <a
            href="javascript:void(0)"
            [ngClass]="activeTab === 'quarterly' ? 'tw-bg-indigo-600 tw-text-white' : 'tw-text-gray-400 hover:tw-text-indigo-600'"
            class="tw-inline-block tw-w-1/2 tw-transition-all tw-duration-500 tw-rounded-full tw-font-semibold tw-py-3 tw-px-3 lg:tw-px-11 tw-tablink"
            data-tab="tabs-with-background-2"
            role="tab"
            id="monthly-billing"
            (click)="changeTab('quarterly')"
          >
            Trimestral
          </a>
        </div>

        <div
          id="tabs-with-background-1"
          role="tabpanel"
          aria-labelledby="yearly-billing"
          class="tw-tabcontent tw-mt-12"
        >

          <div class="tw-grid tw-grid-cols-1 tw-gap-4 sm:tw-grid-cols-2 sm:tw-items-center md:tw-gap-8">
            <div
              class="tw-rounded-2xl tw-border tw-border-indigo-600 tw-p-6 tw-shadow-sm tw-ring-1 tw-ring-indigo-600 sm:tw-order-last sm:tw-px-8 lg:tw-p-12"
            >
              <div class="tw-text-center">
                <h2 class="tw-text-3xl tw-font-bold tw-text-gray-900">
                  Plan Élite
                </h2>

                <p class="tw-mt-2 sm:tw-mt-4">
                  <strong class="tw-text-3xl tw-font-bold tw-text-gray-900 sm:tw-text-4xl"> {{ activeTab === 'monthly' ? '59' : '159'}}&euro; </strong>
                  <span class="tw-text-xl tw-font-medium tw-text-gray-700">/{{ activeTab === 'monthly' ? 'mes' : 'trimestre'}}</span>
                </p>
              </div>

              <ul class="tw-mt-6 tw-space-y-2 tw-text-left">
                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Entrevista inicial vía online </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Creación de plan nutricional 100% personalizado a tus necesidades y objetivos (con múltiples opciones) </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Asesoría en suplementación </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Asesoría en entrenamiento deportivo </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Contacto vía aplicación y WhatsApp </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Registro de tu progreso </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Revisiones vía llamada </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Actualización de tus planes cada 4 semanas</span>
                </li>
              </ul>

              <div class="tw-mt-8 tw-flex tw-flex-col md:tw-flex-row tw-space-y-2 md:tw-space-y-0 md:tw-space-x-2 ">
                <a
                  class="tw-flex-1 tw-rounded-full tw-border tw-border-indigo-600 tw-bg-white tw-px-12 tw-py-3 tw-text-center tw-text-sm tw-font-medium tw-text-indigo-600 hover:tw-ring-1 hover:tw-ring-indigo-600 focus:tw-outline-none focus:tw-ring active:tw-text-indigo-500"
                  (click)="openPlanDetailModal('elite')"
                >
                  Ver más
                </a>
                <a
                  href="#"
                  class="tw-flex-1 tw-rounded-full tw-border tw-border-indigo-600 tw-bg-indigo-600 tw-px-12 tw-py-3 tw-text-center tw-text-sm tw-font-medium tw-text-white hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring active:tw-bg-indigo-800"
                >
                  Únete
                </a>
              </div>
            </div>

            <div class="tw-rounded-2xl tw-border tw-border-gray-200 tw-p-6 tw-shadow-sm sm:tw-px-8 lg:tw-p-12">
              <div class="tw-text-center">
                <h2 class="tw-text-3xl tw-font-bold tw-text-gray-900">
                  Plan RX
                </h2>

                <p class="tw-mt-2 sm:tw-mt-4">
                  <strong class="tw-text-3xl tw-font-bold tw-text-gray-900 sm:tw-text-4xl"> {{ activeTab === 'monthly' ? '39' : '99'}}&euro; </strong>
                  <span class="tw-text-xl tw-font-medium tw-text-gray-700">/{{ activeTab === 'monthly' ? 'mes' : 'trimestre'}}</span>
                </p>
              </div>

              <ul class="tw-mt-6 tw-space-y-2 tw-text-left">
                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Entrevista inicial vía online </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Creación de plan nutricional 100% personalizado a tus necesidades y objetivos </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Asesoría en suplementación </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Contacto y revisiones vía aplicación </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Registro de tu progreso </span>
                </li>

                <li class="tw-flex tw-items-center tw-gap-1">
                  <fa-icon [icon]="['fas', 'check']" class="tw-pr-2"></fa-icon>
                  <span class="tw-text-gray-700"> Actualización de tu plan cada 4 semanas </span>
                </li>
              </ul>

              <div class="tw-mt-8 tw-flex tw-flex-col md:tw-flex-row tw-space-y-2 md:tw-space-y-0 md:tw-space-x-2 ">
                <a
                  class="tw-flex-1 tw-rounded-full tw-border tw-border-indigo-600 tw-bg-white tw-px-12 tw-py-3 tw-text-center tw-text-sm tw-font-medium tw-text-indigo-600 hover:tw-ring-1 hover:tw-ring-indigo-600 focus:tw-outline-none focus:tw-ring active:tw-text-indigo-500"
                  (click)="openPlanDetailModal('rx')"
                >
                  Ver más
                </a>
                <a
                  href="#"
                  class="tw-flex-1 tw-rounded-full tw-border tw-border-indigo-600 tw-bg-indigo-600 tw-px-12 tw-py-3 tw-text-center tw-text-sm tw-font-medium tw-text-white hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring active:tw-bg-indigo-800"
                >
                  Únete
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isModalOpen" class="tw-fixed tw-inset-0 tw-bg-white tw-bg-opacity-100 tw-flex tw-items-center tw-justify-center tw-z-50">
  <div class="tw-container tw-p-4 tw-mx-auto tw-bg-white tw-max-w-7xl sm:tw-p-6 lg:tw-p-8 tw-h-screen tw-overflow-y-auto">
      <div class="tw-flex tw-flex-wrap tw--mx-8">
          <div class="tw-w-full tw-px-8 lg:tw-w-1/2">
              <div class="tw-pb-12 tw-mb-12 tw-border-b lg:tw-mb-0 lg:tw-pb-0 lg:tw-border-b-0">
                  <h2 class="tw-mb-4 tw-text-3xl tw-font-bold lg:tw-text-4xl tw-font-heading">
                      {{ detailedPlanData[selectedDetailPlan].plan}}
                  </h2>
                  <p class="tw-mb-8 tw-leading-loose tw-text-gray-500">
                    {{ detailedPlanData[selectedDetailPlan].description}}
                  </p>

                  <img [src]="detailedPlanData[selectedDetailPlan].image" alt="Descriptive Alt Text" class="tw-mb-8 tw-w-full tw-h-auto tw-object-cover" />
              </div>
          </div>
          <div class="tw-w-full tw-px-8 lg:tw-w-1/2">
              <ul>
                @for (step of detailedPlanData[selectedDetailPlan].steps; track step.id; let index = $index) {
                  <li class="tw-flex tw--mx-2">
                    <div class="tw-px-4">
                        <span class="tw-flex tw-items-center tw-justify-center tw-w-16 tw-h-16 tw-mx-auto tw-text-2xl tw-font-bold tw-text-blue-600 tw-rounded-full tw-font-heading tw-bg-blue-50">
                          {{ index + 1 }}
                        </span>
                    </div>
                    <div class="tw-px-4">
                        <h3 class="tw-my-4 tw-text-xl tw-font-semibold">
                          {{step.title}}
                        </h3>
                        @for (detail of step.details; track detail.title; let index = $index) {
                          <p class="tw-leading-loose tw-text-gray-500 tw-font-bold">
                            {{ detail.title}}
                          </p>
                          <p class="tw-leading-loose tw-text-gray-500 tw-pb-2">
                            {{ detail.description}}
                          </p>
                        }
                    </div>
                </li>
                }
              </ul>

              <p class="tw-py-8 tw-leading-loose tw-text-gray-500 tw-font-bold">
                {{ detailedPlanData[selectedDetailPlan].conclusion}}
              </p>

              <div class="tw-full tw-flex tw-justify-center tw-items-center">
                <a
                  href="#"
                  class="tw-w-full sm:tw-w-auto tw-rounded-full tw-border tw-border-indigo-600 tw-bg-indigo-600 tw-px-12 tw-py-3 tw-text-center tw-text-sm tw-font-medium tw-text-white hover:tw-bg-indigo-700 focus:tw-outline-none focus:tw-ring active:tw-bg-indigo-800"
                  >
                  Únete
                </a>
              </div>
          </div>
      </div>
  </div>
</div>
