<!-- ALT 1 -->
<!--
<div class="tw-px-4 tw-py-20 tw-bg-lightblue">
  <div class="tw-flex tw-flex-col tw-max-w-6xl tw-mx-auto md:tw-flex-row">
      <h2 class="tw-w-full tw-mr-8 tw-text-3xl tw-font-extrabold tw-leading-9 md:tw-w-1/3">
          Frequently-asked questions
      </h2>
      <dl class="tw-w-full md:tw-w-2/3">
          <dt class="tw-mb-4">
              <h3 class="tw-text-xl tw-font-semibold">
                  We already have ongoing projects. Will Valohai easily integrate with them?
              </h3>
          </dt>
          <dd class="mb-16">
              <p>
                  Running existing machine learning projects in Valohai is very simple! Integration only requires adding a valohai.yaml configuration file. Moving projects in and out of Valohai is easy – the integration is only the configuration file.
              </p>
          </dd>
          <dt class="tw-mb-4">
              <h3 class="tw-text-xl tw-font-semibold">
                  How do you compare to other data science platforms?
              </h3>
          </dt>
          <dd class="mb-16">
              <p>
                  We don’t. Valohai isn´t a data science platform; it&#x27;s a Machine Learning Management Platform that handles the whole ML pipeline from feature extraction, to training of your model and to deploying it into production in a reproducible manner. Data science platforms offer hosted notebooks and AutoML solutions.
              </p>
          </dd>
          <dt class="tw-mb-4">
              <h3 class="tw-text-xl tw-font-semibold">
                  Does Valohai charge for computation?
              </h3>
          </dt>
          <dd class="tw-mb-16">
              <p>
                  Depends. Most of our customers use their own cloud and thus pay for usage according to their own agreements. Valohai doesn&#x27;t charge anything on top of the per-user license fee. If you don&#x27;t have a cloud provider, you can use our AWS, GCP and Azure accounts, and we&#x27;ll only charge you for what you use.
              </p>
          </dd>
      </dl>
  </div>
</div> -->

<!-- ALT 2 -->
<!-- <div class="tw-relative tw-mb-3">
  <h6 class="tw-mb-0">
    <button
      class="tw-relative tw-flex tw-items-center tw-w-full tw-p-4 tw-font-semibold tw-text-left tw-transition-all tw-ease-in tw-border-b tw-border-solid tw-cursor-pointer tw-border-slate-100 tw-text-slate-700 tw-rounded-t-1 tw-group tw-text-dark-500"
      data-collapse-target="collapse-1"
    >
      <span>What is Material Tailwind?</span>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-fa tw-fa-plus group-open:tw-opacity-0"></i>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-opacity-0 tw-fa tw-fa-minus group-open:tw-opacity-100"></i>
    </button>
  </h6>
  <div
    data-collapse="collapse-1"
    class="tw-h-0 tw-overflow-hidden tw-transition-all tw-duration-300 tw-ease-in-out"
  >
    <div class="tw-p-4 tw-text-sm tw-leading-normal tw-text-blue-gray-500/80">
      We're not always in the position that we want to be at. We're constantly
      growing. We're constantly making mistakes. We're constantly trying to
      express ourselves and actualize our dreams.
    </div>
  </div>
</div>
<div class="tw-relative tw-mb-3">
  <h6 class="tw-mb-0">
    <button
      class="tw-relative tw-flex tw-items-center tw-w-full tw-p-4 tw-font-semibold tw-text-left tw-transition-all tw-ease-in tw-border-b tw-border-solid tw-cursor-pointer tw-border-slate-100 tw-text-slate-700 tw-rounded-t-1 tw-group tw-text-dark-500"
      data-collapse-target="collapse-2"
    >
      <span>How to use Material Tailwind?</span>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-fa tw-fa-plus group-open:tw-opacity-0"></i>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-opacity-0 tw-fa tw-fa-minus group-open:tw-opacity-100"></i>
    </button>
  </h6>
  <div
    data-collapse="collapse-2"
    class="tw-h-0 tw-overflow-hidden tw-transition-all tw-duration-300 tw-ease-in-out"
  >
    <div class="tw-p-4 tw-text-sm tw-leading-normal tw-text-blue-gray-500/80">
      We're not always in the position that we want to be at. We're constantly
      growing. We're constantly making mistakes. We're constantly trying to
      express ourselves and actualize our dreams.
    </div>
  </div>
</div>
<div class="tw-relative tw-mb-3">
  <h6 class="tw-mb-0">
    <button
      class="tw-relative tw-flex tw-items-center tw-w-full tw-p-4 tw-font-semibold tw-text-left tw-transition-all tw-ease-in tw-border-b tw-border-solid tw-cursor-pointer tw-border-slate-100 tw-text-slate-700 tw-rounded-t-1 tw-group tw-text-dark-500"
      data-collapse-target="collapse-3"
    >
      <span>What can I do with Material Tailwind?</span>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-fa tw-fa-plus group-open:tw-opacity-0"></i>
      <i class="tw-absolute tw-right-0 tw-pt-1 tw-text-xs tw-opacity-0 tw-fa tw-fa-minus group-open:tw-opacity-100"></i>
    </button>
  </h6>
  <div
    data-collapse="collapse-3"
    class="tw-h-0 tw-overflow-hidden tw-transition-all tw-duration-300 tw-ease-in-out"
  >
    <div class="tw-p-4 tw-text-sm tw-leading-normal tw-text-blue-gray-500/80">
      We're not always in the position that we want to be at. We're constantly
      growing. We're constantly making mistakes. We're constantly trying to
      express ourselves and actualize our dreams.
    </div>
  </div>
</div> -->

<!-- ALT 3 -->
<section class="tw-py-24">
  <div class="tw-mb-12 tw-text-center">
    <h2 class="tw-font-manrope tw-text-4xl tw-text-center tw-font-bold tw-text-gray-900 tw-mb-12">
      Preguntas frecuentes
    </h2>
  </div>
  <div class="tw-mx-auto tw-max-w-7xl tw-px-4 sm:tw-px-6 lg:tw-px-8">
    <div class="tw-w-full tw-bg-white tw-p-8 tw-rounded-lg tw-shadow-lg">
      @for (faq of faqsData; track faq.id; let i = $index) {
        <details
          class="tw-group tw-pb-2"
          [ngClass]="{'open': openIndex === i}"
          [open]="openIndex === i"
          (click)="toggleOpen(i)"
        >
          <summary class="tw-flex tw-cursor-pointer tw-items-center tw-justify-between tw-gap-1.5 tw-rounded-lg tw-bg-gray-50 tw-p-4 tw-text-gray-900">
            <h2 class="tw-font-medium">{{ faq.question }}</h2>
            <svg
              class="tw-w-5 tw-h-5 tw-shrink-0 tw-transition tw-duration-300 group-open:tw--rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </summary>

          <div class="tw-my-4 tw-px-4 tw-leading-relaxed tw-text-gray-700 tw-overflow-hidden tw-transition-all tw-duration-300" [ngClass]="{'tw-max-h-0': openIndex !== i, 'tw-max-h-screen': openIndex === i}">
            {{ faq.answer }}
          </div>
        </details>
      }
    </div>
  </div>
</section>