<section class="tw-py-16">
  <div class="tw-mb-8 tw-text-center">
    <h2 class="tw-font-manrope tw-text-4xl tw-text-center tw-font-bold tw-text-gray-900">
      Preguntas frecuentes
    </h2>
  </div>
  <div class="tw-mx-auto tw-max-w-screen-2xl tw-px-4 sm:tw-px-6 lg:tw-px-8">
    <div class="tw-w-full tw-py-8 tw-rounded-lg">
      @for (faq of faqsData; track faq.id; let i = $index) {
        <details
          class="tw-group tw-pb-2"
          [ngClass]="{'open': openIndex === i}"
          [open]="openIndex === i"
          (click)="toggleOpen(i)"
        >
          <summary class="tw-flex tw-cursor-pointer tw-items-center tw-justify-between tw-gap-1.5 tw-rounded-lg tw-bg-gray-50 tw-p-4 tw-text-gray-900">
            <h2 class="tw-font-medium">{{ faq.question }}</h2>
            <svg
              class="tw-w-5 tw-h-5 tw-shrink-0 tw-transition tw-duration-300 group-open:tw--rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </summary>

          <div class="tw-my-4 tw-px-4 tw-leading-relaxed tw-text-gray-700 tw-overflow-hidden tw-transition-all tw-duration-300" [ngClass]="{'tw-max-h-0': openIndex !== i, 'tw-max-h-screen': openIndex === i}">
            {{ faq.answer }}
          </div>
        </details>
      }
    </div>
  </div>
</section>
