<section class="tw-bg-indigo-800">
  <div class="tw-container tw-grid tw-grid-cols-2 tw-gap-12 tw-py-8 tw-p-4 tw-mx-auto tw-text-center md:tw-grid-cols-3">
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Planes 100% personalizados
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <i class="fas fa-mobile-alt"></i>
            <fa-icon [icon]="['fas', 'mobile-screen-button']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Acceso vía App
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'circle-question']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Resolución de dudas
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'arrows-turn-to-dots']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Flexibilidad y comodidad
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Soporte continúo
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'calendar-check']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-indigo-100 tw-uppercase">
            Tu plan en menos de 7 días.
          </p>
      </div>
  </div>
</section>
<!-- <section class="tw-bg-white dark:tw-bg-gray-800">
  <div class="tw-text-center tw-w-full tw-mx-auto tw-py-12 tw-px-4 sm:tw-px-6 lg:tw-py-16 lg:tw-px-8 tw-z-20">
      <h2 class="tw-text-3xl tw-font-extrabold tw-text-black dark:tw-text-white sm:tw-text-4xl">
          <span class="tw-block">
              Encuentra el plan perfecto para ti
          </span>
      </h2>
  </div>
</section> -->
