<section class="tw-bg-primary tw-text-white">
  <div class="tw-container tw-grid tw-grid-cols-2 tw-gap-20 tw-py-20 tw-p-4 tw-mx-auto tw-text-center md:tw-grid-cols-3">
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Planes 100% personalizados
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <i class="fas fa-mobile-alt"></i>
            <fa-icon [icon]="['fas', 'mobile-screen-button']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Acceso vía App
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'circle-question']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Resolución de dudas
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'arrows-turn-to-dots']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Flexibilidad y comodidad
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Soporte continúo
          </p>
      </div>
      <div>
          <h5 class="tw-text-4xl tw-text-white tw-pb-2">
            <fa-icon [icon]="['fas', 'calendar-check']"></fa-icon>
          </h5>
          <p class="tw-text-s tw-font-medium tw-tracking-wide tw-text-white tw-uppercase">
            Tu plan en menos de 7 días.
          </p>
      </div>
  </div>
</section>
