<div class="tw-relative tw-bg-[url('https://images.unsplash.com/photo-1627767343414-2c6280f30747?q=80&w=4140')] parallax tw-h-[500px] tw-bg-black/50 tw-flex tw-items-center tw-justify-center">
  <div class="tw-text-center tw-w-full tw-mx-auto tw-px-4 sm:tw-px-6 lg:tw-px-8 tw-z-20">
      <h2 class="tw-text-3xl tw-font-extrabold tw-text-white sm:tw-text-4xl">
          <span class="tw-block">
              ¿Estás preparado para adoptar tu nuevo estilo de vida?
          </span>
          <span class="tw-block tw-text-secondary-dark">
              ¡Es hoy o nunca!
          </span>
      </h2>
      <div class="lg:tw-mt-0 lg:tw-flex-shrink-0">
          <div class="tw-mt-12 tw-inline-flex tw-rounded-md tw-shadow">
              <button type="button" class="tw-py-4 tw-px-6 tw-bg-primary-light hover:tw-bg-primary-lightest tw-text-white tw-w-full tw-transition tw-ease-in tw-duration-200 tw-text-center tw-text-base tw-font-semibold tw-shadow-md focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 tw-rounded-lg">
                  ¡Únete ahora!
              </button>
          </div>
      </div>
  </div>
</div>
